<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @purchase_detail.cantidad %>
</p>

<%= link_to 'Edit', edit_purchase_detail_path(@purchase_detail) %> |
<%= link_to 'Back', purchase_details_path %>
