<div class="center-xs text-center row">
  <div class=" col-s6 col-md6">

  <h3>Ingreso a almacen-reporte</h3>

<p>
  <strong style="font-size: 2em;">Libro</strong><br>
  <%= @stock.book.titulo %>
</p>

<p style="margin-top: 2em;">
    <strong style="font-size: 2em;">Cantidad agregada</strong><br>
  <%= @stock.stockActual %>
</p>

<p style="margin-top: 2em;">
    <strong style="font-size: 2em;">Fecha de ingreso:</strong><br>
  <%= @stock.fechaIngreso %>
</p>

<%= link_to 'Regresar', stocks_path %>
</div>
</div>