

<div class="row center-xs">
  <div class="col-xs-8 col-md-8  col-md-offset-2">
<h1>Ventas realizadas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Costo pagado</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.fecha %></td>
        <td><%= purchase.pago %></td>
        <td><%= link_to 'Detalles', purchase %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>